<div class="row">
  <div class="col-md-1">&nbsp;</div><div class="col-md-11"><h3>Counter: {{counter}}</h3></div>
</div>
<div class="row">
  <div class="col-md-1">&nbsp;</div><div class="col-md-11"><h3>CounterSignal: {{counterSignal()}}</h3></div>
</div>
<div class="row">
  <div class="col-md-1">&nbsp;</div><div class="col-md-11"><hr></div>
</div>
<div class="row">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-11">
    <button type="button" class="btn btn-primary" (click)="increaseBy(-1)">-1</button>
    <button type="button" class="btn btn-primary" (click)="reset()">reset</button>
    <button type="button" class="btn btn-primary" (click)="increaseBy(1)">+1</button>
  </div>
</div>
